@page "/Articles/Details/{idReference:guid}"
@model VignobleWEB.Pages.Articles.DetailsModel
@section Scripts {
    <script src="~/js/gestionMessageModal.js" asp-append-version="true"></script>
}
@if (Model.MessagePourLaModal != null && Model.MessagePourLaModal.Message != string.Empty)
{
    Html.RenderPartial("./VuePartielle/Message", Model.MessagePourLaModal);
}
<form class="py-5" method="post">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="data:image/png;base64,@Model.ProductDetails.Picture.Content" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@Model.ProductDetails.Name</h1>
                <div class="small mb-1">SKU: @Model.ProductDetails.Reference</div>
                <div class="small mb-1">Année: @Model.ProductDetails.Year</div>
                <div class="fs-5 mb-5">
                    <span>@Model.ProductDetails.UnitPrice €</span>
                </div>
                @if (Model.ProductDetails.Stock != null)
                {
                    <div class="small mb-1">Stock: @Model.ProductDetails.Stock.Quantity</div>
                }

                <p class="lead">@Model.ProductDetails.Description</p>
                <div class="d-flex">
                    <input asp-for="@Model.CardItem.IdProduct" value="@Model.ProductDetails.Id" hidden/>
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" asp-for="@Model.CardItem.Quantity" value="1" style="max-width: 6rem" min="1"/>
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit" >
                        <i class="bi-cart-fill me-1"></i>
                        Ajouter au panier
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

 <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Produits similaires</h2>
        @if (Model.Products.Count > 0)
        {
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (Core.Models.Product item in Model.Products)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="data:image/png;base64,@item.Picture.ContentMini" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product price-->
                                    @item.UnitPrice €
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-page="/Articles/Details" asp-route-idReference="@item.Id">Plus d'info</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <strong>
                Il n'y a pas de produits similaires pour ce produit.
            </strong>
        }
    </div>
</section>


